.App {
  /* text-align: center; */
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.raw-input {
  width: 50%;
}

.hidden {
  display: none;
}

table, td, th {
  border: 1px solid #333;
}

.align-id {
  background-color: #ccc;
}

button.tight {
  padding: 0px 5px;
  margin: 0;
  width: fit-content;
  height: fit-content;
  border: 1px solid #000;
  border-radius: 5px;
}
